.our-best-container {
    background-image: url('/public/img/our-best-bg.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .our-best-container{
    height: 450px;
} */
