.main-header-content {
    font-family: Merienda;
    color: white;
    margin-top: 55px;
}

.main-header-content-item_title h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.625rem;
    letter-spacing: 0em;
    text-align: left;
}

.main-header-content img {
    max-width: 280px;
    height: 33px;
}

.main-header-content-item_text {
    width: 79%;
}

.main-header-content-item_question {
    width: 41%;
}

.main-header-content-item_question p, .main-header-content-item_text p  {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 35px;
}

.main-header-content button {
    width: 169.88px;
    height: 33.87px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

@media only screen and (max-width: 1024px) {
    .main-header-content-item_title h3 {
        font-size: 1.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .main-header-content-item_question p, .main-header-content-item_text p {
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-header-content-item_title h3 {
        font-size: 1.3rem;
    }

    .main-header-content {
        margin-top: 40px;
    }

    .main-header-content-item_text {
        width: 100%;
    }

    .main-header-content-item_text p, .main-header-content-item_question p {
        font-size: 0.9rem;
        line-height: 0rem;
        margin-bottom: 10px;
    }

    .main-header-content-item_question {
        width: 67%;
    }

    .main-header-content button {
        margin-top: 30px;
    }

    .main-header-content img {
        height: 25px;
    }

    .main-header-content-item_logo {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width : 426px) {
    .main-header-content-item_title h3 {
        margin-right: 0px;
        font-size: 1.5rem;
        text-align: center;
        line-height: 2.5rem;
    }

    .main-header-content-item_text {
        width: 100%;
        text-align: center;
    }

    .main-header-content-item_text p, .main-header-content-item_question p {
        line-height: 1rem;
    }
}
